* {
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}


body {
    margin: 0;
}

/* Navigation Bar */

header {
    position:sticky;
    top: 0;
}

#navitems {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(196, 196, 51);
    font-family: "Lucida Console", Monaco, monospace;
    letter-spacing: 3px;
    font-weight: bold;
}

#navitems li:not(#logo){
    float:right
}

#navitems .navitem{
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color:rgb(238, 240, 226);
    border: 5px double rgb(196, 196, 51);
    margin: 5px;
}

#navitems .navitem:hover{
    color: rgb(100, 100, 100);
}

#navitems #special-navitem{
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color:rgb(238, 240, 226);
    border: 5px double rgb(238, 240, 226);
    margin: 5px;
}

#navitems #special-navitem:hover{
    color: rgb(196, 196, 51);
    border: 5px solid rgb(238, 240, 226);
    background-color:rgb(238, 240, 226);

} 

#logo {
    float:left;
    padding: 10px;
    margin:0%;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;

}

#logo a{
    text-decoration: none;
}

#logo a:link, #logo a:visited{
    color:rgb(238, 240, 226);
}

#logo a:hover, #logo a:active{
    color:rgb(100, 100, 100);
}

@media only screen and (max-width: 768px){

    #navitems{
        display: flex;
        flex-wrap: wrap;
    }

    #navitems li{
        width:100%;
    }

    header{
        position: relative;
    }
}

/* Showcase */

#showcase {
    background-image: url(images/background1.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    height:75vh;
    padding:30px 20px;

    display: flex;
    flex-direction:column;
    justify-content: flex-end;
}

#welcome{
    width: 40%;
    font-family: 'Lobster Two', cursive;
    color: rgb(92, 83, 0);
    font-size: 80px;
    line-height:1.2;
}

#description{
    padding-left: 10px;
    width: 35%;
    line-height: 1.2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(109, 98, 2);
}

.button{
    margin-top: 10px;
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Audiowide', cursive;
}

.button a:link, .button a:visited {
    background-color: rgb(109, 98, 2);
    color: rgb(238, 240, 226);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
.button a:hover, .button a:active {
    background-color: rgb(92, 83, 0);
}


@media only screen and (max-width: 768px){
    #showcase{
        display: block;
        background-color: rgb(185, 255, 255);
        background-image: none;
    }

    #description{
        width:90%;
    }

    #welcome{
        line-height: 1.1;
        font-size: 60px;
    }    
}


/* Features */

#features{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin:0;
    background-color: rgb(196, 159, 40);
}

#features h1{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    font-family: 'Roboto Mono', monospace;
    font-size: 60px;
    color: #1d1400;
}
  
.feature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    width:20%;
    border: 5px dashed #eed0a2;
    border-radius: 3px;
}


.feature img{
    width:100%;
}

.feature h2{
    padding:3%;
    font-family: 'RocknRoll One', sans-serif;
    color:#412c00;
}

.feature p{
    margin: 2%;
    color:#4d3400;
    font-family: 'Akaya Telivigala', cursive;
}


@media only screen and (max-width: 768px){

    #features{
        flex-direction: column;
    }

    .feature{
        width:90%;
        font-size: 20px;
    }
}


/* Download */

#download-bg{
    background-color: rgb(196, 159, 40);
    padding: 10%;
    padding-top:5%;
    text-align: center;
}

#download{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content:center;
    align-items: center;
    background-color: rgb(230, 105, 56);
}

#download-bg h2{
    margin-bottom: 2%;
    font-family: 'Roboto Mono', monospace;
    font-size: 60px;
    color: rgb(230, 105, 56);
}

#download iframe{
    width:100%;
    border: none;
}

@media only screen and (max-width: 768px){

    iframe{
        height: 700px;
    }
}
@media only screen and (max-width: 1200px){
    #download-bg{
        padding:1%;
    }
}

/* More */

#more{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
    background-color: lavender;
    padding: 80px;
    padding-bottom: 20px;
}

#more h4{
    font-size: 35px;
    margin:20px;
}

#more-column1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:50%;
}

#more-column1 ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    font-size: 18px;
    line-height: 1.5;
}

#sponsor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:40%;
    height:30%
}

#sponsor img{
    width:100%;
    height:auto;
}


#more-column2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width:50%;
}

#more-column2 h4{
    width:100%;
    text-align: center;
    margin-top: 0px;
}

.social-media{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin:10px;
}

.social-media-buttons{
    margin-top: 5px;
    padding-left: 2px;
    font-size: 10px;
}

.social-media-buttons a:link, .social-media-buttons a:visited {
    background-color: rgb(87, 87, 182);
    color: rgb(238, 240, 226);
    padding: 3px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
.social-media-buttons a:hover, .social-media-buttons a:active {
    background-color: rgb(48, 48, 172);
}

#more-extra{
    width:60%;
    text-align: center;
    margin-top:5%;
}

@media only screen and (max-width: 768px){
    #more{
        padding:10px;
    }

    #sponsor{
        width:80%;
        height:auto;
    }
}

